[submodule "themes/Academia-hugo"]
	path = themes/Academia-hugo
	url = https://github.com/OmNomNomagon/Academia-hugo
[submodule "public"]
	path = public
	url = https://github.com/OmNomNomagon/OmNomNomagon.github.io
