.container {
    max-width: 1500px;
}

.article-container {
    max-width: 1050px;
}

.hero-title {
	margin-top: 30vh;
}

.hero-lead {
    max-width: 768px;
    font-size: 1.4rem;
	letter-spacing: 3.0px;
	font-weight: 300;
    text-transform: uppercase;
}

.card-body {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 25px;
}

.navbar-light .navbar-brand {
    font-weight: 300;
	letter-spacing: 3.0px;
}

.card h4 {
    font-size: .75rem;
    font-weight: 550;
    line-height: 1.5;
	letter-spacing: 1.3px;
}

.card {
    font-size: .8rem;
}


.btn.btn-light.btn-lg {
	margin-top: 20px;
	background-color: #f8f9fac2;
    border-color: #f8f9fac2;
}

.docs-article-container {
    max-width: 1050px;
}

.navbar-brand {
    display: inline-flex;
	margin-right: 30px;
    padding-top: 5px;
	padding-bottom: 5px;
}


@media screen and (max-width: 580px){
	.navbar-brand {
		display: none; 
	}
}

@media screen and (max-width: 750px){
	.navbar-brand {
		font-size: 0.8rem;
	}
}


.navbar-img {
    max-height: 70px;
	display: inline-flex;
	margin-right: 30px;
    padding-top: 5px;
	padding-bottom: 5px;
    height: 70px;
    max-width: 60px;
}

footer p {
    font-size: .45rem;
}

.container.split-header{
	margin-top: -50px;
}

.list-inline-item {
    color: #fc6f5c;
}

@media screen and (min-width: 1200px){
	.isotope.projects-container.js-layout-masonry {
		padding-left: 1.5%;
		margin-left: 2.5%;
	}
}

@media screen and (max-width: 1200px){
	.isotope.projects-container.js-layout-masonry {
		padding-left: 0.5%;
		margin-left: 1%;
	}
}

@media screen and (max-width: 768px){
	.isotope.projects-container.js-layout-masonry {
		padding-left: 0.0%;
		margin-left: 0.0%;
	}
}

body{
	font-size: 0.85rem;
}



a.btn,
.btn-outline-primary:hover 
{
    background-color: #59A5F0;
    border-color: #59A5F0;
}

.btn-primary:hover, 
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show>.btn-primary.dropdown-toggle 
{
    background-color: #1065B8;
    border-color: #1065B8;
}

.section-heading h1::before,
.section-heading h1::after 
{
	background-color: #1065B8;
}

.wg-hero.dark .btn {
	background-color: #59A5F0;
    border-color: #59A5F0;
    color: #fff;
	font-weight: 550;
	letter-spacing: 1.1px;
	font-size: 18px;
}

.navbar-light .navbar-nav>li.nav-item>a.active:hover,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover,
a:hover,
a:focus,
.network-icon a:hover, 
.fas:hover,
.fab:hover
{
    color: #1065B8;
}


a,
.navbar-light .navbar-nav>li.nav-item>a.active,
.navbar-light .navbar-nav>li.nav-item>a.active:focus,
.fa,
.fab,
.fal,
.far,
.fas, 
.docs-sidebar .docs-toc-item.active a,
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active>a,
#TableOfContents li a.active,
#TableOfContents li a.active a:hover,
.post-nav-item .meta-nav, 
.toc-top li a:hover, 
h3.article-title a:hover
{
    color: #59A5F0;
}

.btn-outline-primary {
    color: #1065B8;
    border-color: #1065B8;
}

pre, code {
    color: #59A5F0;
    background-color: #f9f2f4;
}
